
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/shared/__Layout.cshtml";
}

<h1>/Welcome Friend/</h1>
<p>
    <br><br> This is Ryan's lab4. <br>
    I Ryan, am a student in .NET Enterprise Application Development @@Algonquin College. <br>
    As you may know already I am a meme lover, I enjoy the occasional video game and I like weird music. <br>
    I think this course is the right mixture of hands on and hands off if that makes any sense to you. <br>
    The labs teach the proper MVC structure but leave a healthy amount of flexibility for creative solutions to the design <br>
    and development of the websites being deployed in each lab. <br>
    I wish there was a practice quiz for the exam though. <br>

    <img src ="~/misc/1596328903681.gif">


</p>
